body {
  background-color: black;
}
.content {
  margin: 10%;
  height: 564px;
  width: 846px;
  box-sizing: border-box;
  background: url(/imagens/7e6a32abd9099fa74b9b894106dca7c4.jpg), no-repeat; /*img taken from: https://br.pinterest.com/pin/775745104556507399/ */
  background-size: cover;
  font-family: "Comfortaa", Arial, sans-serif;
}
.title {
  box-sizing: border-box;
  width: 490px;
  padding-top: 100px;
  padding-left: 150px;
}
h1 {
  text-shadow: 1px 1px #dddddd;
  margin-bottom: 0;
  font-size: 2.5rem;
}
h2 {
  margin-top: 0;
  text-align: center;
  font-size: 1.2rem;
}
.list {
  box-sizing: border-box;
  padding-top: 100px;
  font-size: 1.3rem;
  padding-left: 440px;
  line-height: 40px;
}
.insta {
  list-style-image: url(/imagens/instagram32px.png);
  /* Icons made by https://www.freepik.com */
}
.git {
  list-style-image: url(/imagens/github-logo.png);
  /* Icons made by <a href="https://www.flaticon.com/authors/dave-gandy */
}
.whats {
  list-style-image: url(/imagens/whatsapp.png);
  /* Icons made by https://www.flaticon.com/authors/pixel-perfect */
}
a {
  text-decoration: none;
  color: black;
}
